[python: **.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext flash:1

[jinja2: **/templates/**.html]
extensions = jinja2.ext:InternationalizationExtension